body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5); /*Backgroud color in linear color form*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .container {
    background-color: rgb(234, 180, 229);
    width: 400px;
    margin: 0 auto;
    padding: 20px 50px; /* Adjust the padding values */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(52, 52, 224);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* let the reset button have their own effect */
  button[type="reset"] {
    margin-left: 10px;
    background-color: #f44336;
  }
  
  /* when the curser close to all the button will change the view and color */
  button:hover {
    background-color: darkblue;
  }
  button[type="reset"]:hover {
    background-color: #d32f2f;
  }
  
  /* Adding the loading animation */
  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
    .scanner span {
    color: transparent;
    font-size: 100px;
    position: relative;
    overflow: hidden;
    font-family: serif;
  }
  
  .scanner span::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #17FEFF;
    overflow: hidden;
    color: #17FEFF;
    animation: load 4s linear infinite;
  }
  
  @keyframes load {
    0%, 10%, 100% {
      width: 0;
    }
  
    10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      border-right-color: transparent;
    }
  
    11%,21%,31%,41%,51%,61%,71%,81%,91% {
      border-right-color: #17FEFF;
    }
  
    60%, 80% {
      width: 100%;
    }
  }