* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/heh.png);
    background-position: center;
    background-size: cover;
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 1%;
    box-sizing: border-box;
}

.logo {
    width: 80px;
    cursor: pointer;
    
}

#nav ul {
    text-align: left;
    display: inline;
    margin: 0;
    padding: 5px 3px 10px 0;
    float: right;
}

#nav ul li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
}

#nav ul li:hover {
    background-color: #cfcfce;
}

#nav ul li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 150px;
    display: none;
    opacity: 0;
    visibility: hidden;
}

#nav ul li ul li {
    display: block;
    color: #fff;
}

#nav ul li ul li:hover {
    background: #666;
}

#nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.row{
    display: flex;
    height: 30%;
    align-items: center;
}
.col{
    flex-basis: 30%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
    color: white;
}
.pic p{
    color: maroon;
}
h5{
    font-size: 30px;
    color: maroon;
}
.pic{
    width: 400px;
    height: 350px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 40px 50px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.pic:hover{     
    transform: translateY(-10px);
}
.portfolio{
    width: 800px;
    height: 700px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 300px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.pic1 p{
    color: black;
}
.pic1:hover{     
    transform: translateY(-10px);
}
.pic1{
    background-image: url(images/bg1.jpg);
}
.services{
    width: 800px;
    height: 700px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 300px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.pic2 p{
    color: black;
}
.pic2{
    background-image: url(images/bg2.jpg);
}
.pic2:hover{     
    transform: translateY(-10px);
}
.organization{
    width: 800px;
    height: 700px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 300px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.pic3 p{
    color: black;
}
.pic3{ 
    background-image: url(images/bg2.jpg);
}
.pic3:hover{     
    transform: translateY(-10px);
}
.cause{
    width: 800px;
    height: 700px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 300px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.pic4 p{
    color: white;
    opacity: 7;
}
.pic4{
    background-image: url(images/bg2.jpg);
    opacity: 0.75;
}
.pic4:hover{     
    transform: translateY(-10px);
}
